.courses_container {
    background-color:rgb(247, 241, 234);
    .courses_container-courses{
        display: flex;
        justify-content:center;
        flex-wrap:wrap;
        //width: 90vh;
        margin-left: auto;
        margin-right: auto;
    }
}


.course{
    padding-right: 30px;
    .course_small{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        width: 140px;
    }
    .course_description{
        padding-top: 30px;
        font-size: 0,2em;
        font-family: fa;
        text-align: center;
        //max-width: 20vh;
        font-weight: bold;
    }
    .organizer{
        font-weight: normal;
        padding-top: 10px;
    }
}
