.courses_cont{
    display: flex;
    justify-content: center;
    flex-wrap: center;
    width: 90vh;
    margin-left: auto;
    margin-right: auto;
}
.course{
    padding-right: 30px;
    .course_small{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 120px;
        width: 160px;
    }
    .course_description{
        padding-top: 30px;
        font-size: 0,2em;
        font-family: fa;
        text-align: center;
        max-width: 30vh;
        font-weight: bold;
    }
    .organizer{
        font-weight: normal;
        padding-top: 10px;
    }
}
