.header{
    top: 0;
    position: sticky;
    box-shadow: 0px 0px 010px 10px rgba(41,41,41,.25);
    background-color: white;
    z-index: 10;
    .header_flex{
        justify-content: space-around;
        .header_info{
            padding: 10px;
            text-align: center;
            .header_info_name{
                font-size: 3em;
                font-family: 'reeniebeani';
            }
            .header_info_description{
                font-family: 'fa';
                font-size: 1em;
                font-style: italic;
            }
        }
        .menuScroll{
            .scrollList{
              justify-content: flex-end;
              padding-top: 2em;
              li {
                .ScrollLink {
                  color: black;
                  text-decoration: none;
                  font-family: fascinate;
                  font-size: 1em;
                  margin-left: 20px;
                  padding: 5px;
                  color: #0a7555;
                  cursor: pointer;
                  &:hover{
                    color:  #0a7555;
                    border-bottom: 3px solid #0a7555;
                    padding-bottom: 2px;
                  }
                }
              }
            }
        }
    }
    
}
