.home_container {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    padding-top: 10%;
    background-color:rgb(247, 241, 234);

    .home_container_photo {
        width: 50%;
        padding-right: 3%;

        .home_container_photo-photo {
                width: 60%;
                float: right;
        }
    }

    .home_container_introduction {
        width: 50%;
        padding-top: 10%;

        .home_container_introduction-text{
            font-family: 'fa';
            font-size: 2em;
            font-style: italic;
            padding-left: 3%;
            color: rgb(0, 0, 0);
        }

                .home_container_introduction-name {
            font-size: 3em;
            margin: 10px 0 10px 0;
            font-family: 'reeniebeani';
            color: rgb(0, 0, 0);
            font-weight:500;
            //padding-left: 5%;
        }
    }
}

@media screen and (max-width: 750px) {
    .home_container {
        flex-direction: column;
        padding-top: 2%;

        .home_container_introduction {
            margin: 5% 0 0 20%;
            width: 90%;
        }

        .home_container_photo {
            width: 70%;
        }

    }
}