.title {
    font-size: 2em;
    font-family: fa;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}