.portfolio{
    .portfolio_title{
        font-size: 2em;
        font-family: fa;
        text-align: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .portfolio_cont{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10%;

        .portfolio_cont_project{
            width: 300px;
            height: 470px;
            border: 2px solid #333535;
            background-color:#eefafa;
            padding-left: 20px;
            .portfolio_cont_project_title{
                font-size: 2em;
                font-family: fa;
                text-align: center;
                font-weight: bold;
                padding-top: 8%;
            }
            .portfolio_pic{
                width: 250px;
                height: 150px;
                padding-top: 10%;
                
            }
            .portfolio_cont_project_description{
                font-size: 0,2em;
                font-family: fa;
                padding-top: 10%;
                padding-bottom: 10%;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                line-height: 1.3;
            }
            .portfolio_cont_project_buttons{
                display: flex;
                justify-content: space-around;
                .portfolio_cont_project_button{
                    display: inline-block;
                    background-color: grey;
                    border-radius: 30%;
                    padding: 2px;
                    box-shadow: 3px 3px 2px 3px #888888;
                    &:active{
                        box-shadow: none;
                    }
                    .portfolio_cont_project_link{
                        color: #eefafa;
                        text-decoration: none;
                        font-family: fa;
                        font-size: 1.2em;
                        margin-left: 20px;
                        padding: 10px;
                        padding-right: 25px;
                        cursor: pointer;
                      
                        }
                }
            }
            
            
        }
    }
}