@font-face {
    font-family: 'reeniebeani';
    src: url('../../fonts/reeniebeanie-regular.woff2') format('woff2'),
    url('../../fonts/reeniebeanie-regular.woff') format('woff');
}
@font-face {
    font-family: 'fa';
    src: url('../../fonts/fa-regular-400.woff2') format('woff2'),
    url('../../fonts/fa-regular-400.woff') format('woff');
}
@font-face {
    font-family: 'fascinate';
    src: url('../../fonts/fascinate-regular-webfont.woff2') format('woff2'),
    url('../../fonts/fascinate-regular-webfont.woff') format('woff');
}